/*------------------------------home style----------------------------*/
body.home {
    background:#f3f3f3;
    color: #103144;
    font-family: 'Libre Caslon Text', serif;
    margin: 0;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

body.home p{
    padding-left: 5%;
    padding-right: 5%;
}

/*------------------------------about us style----------------------------*/
body.about {
    background:#f3f3f3;
    color: #103144;
    font-family: 'Libre Caslon Text', serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

body.about p{
    padding-left: 10%;
    padding-right: 10%;
}

body.about h2{
    color: #103144;
    font-family: 'Libre Caslon Text', serif;
    font-size: 50px;
}

.about-basic-img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/*------------------------------contact us style----------------------------*/
body.contact {
    background:#f3f3f3;
    color: #103144;
    font-family: 'Libre Caslon Text', serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*------------------------------header style----------------------------*/
header {
    background: #103144;
    color: #f3f3f3;
    padding: 0 20px;
    height: 70px;

    padding-left: 2%;
    padding-right: 2%;

    display: flex;
    font-family: 'Libre Caslon Text', serif;
    font-size: 10px;
    text-align: center;
    align-items: center;
    justify-content:space-between;
}

/*------------------------------footer style----------------------------*/
footer {
    background: #103144;
    color: #f3f3f3;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Libre Caslon Text', serif;
    font-size: 14px;
}

footer p {
    margin: 0;
    line-height: 1.5;
}

footer h2 {
    font-size: 14px;
}

footer h3 {
    font-size: 10px;
}

.footer-right {
    display: flex;
    gap: 20px;
}

.footer-left {
    min-width: 100px;
}
  
.social-icon {
    width: 24px;
    height: 24px;
}
  
.footer-bottom {
    background: #103144;
    color: #f3f3f3;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.2);
}

/*------------------------------everything else----------------------------*/
nav a {
    margin-right: 10px;
    margin: 0 1rem;
    color: #f3f3f3;
    text-decoration: none;
    font-family: 'Libre Caslon Text', serif;
    font-size: 16px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}
  
section {
    padding: 1.2rem;
}
  
.small-word {
    font-size: 0.8em; /* 80% of the surrounding text size */
}