<footer>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <div class="footer-left">
        <h2>CEDAR CREEK<br>SKI PARK, LLC</h2>
    </div>

    <div>
        <p>
            <h2>CONTACT US</h2>
            <h3>
            20512 Durham McCord Rd.<br>
            Elkins, AR. 72727<br><br>
            (479) 841 - 3768<br>
            (479) 966 - 5849
            </h3>
        </p>
    </div>

    <div class="footer-right">
        <a href="#"><img src="img/footerInstaIcon.png" alt="Instagram" class="social-icon"></a>
        <a href="#"><img src="img/footerFacebookIcon.png" alt="Facebook" class="social-icon"></a>
    </div>

</footer>