
<footer>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <div>
        <p class="footer-left">CEDAR CREEK<br>SKI PARK, LLC</p>
    </div>

    <div class="footer-center">
            <p class="footer-heading">CONTACT US</p>
            <p class="footer-info">
            20512 Durham McCord Rd.<br>
            Elkins, AR. 72727<br><br>
            (479) 841 - 3768<br>
            (479) 966 - 5849
            </p>
    </div>

    <div class="footer-right">
        <a href="https://instagram.com/cedarcreekskipark"><img src="img/footerInstaIcon.png" alt="Instagram" class="social-icon"></a>
        <!-- <a href="https://facebook.com/cedarcreekskipark"><img src="img/footerFacebookIcon.png" alt="Facebook" class="social-icon"></a> -->
    </div>

</footer>
